In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor,RandomForestRegressor

In [2]:
data=pd.read_csv('diamonds.csv')
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [3]:
cut={'Ideal':5,'Premium':4,'Very Good':3,'Good':2,'Fair':1}
color={'D':7,'E':6,'F':5,'G':4,'H':3,'I':2,'J':1}
clarity={'I1':1,'SI2':2,'SI1':3,'VS2':4,'VS1':5,'VVS2':6,'VVS1':7,'IF':8}

In [4]:
data['cut']=data['cut'].map(cut)
data['color']=data['color'].map(color)
data['clarity']=data['clarity'].map(clarity)

In [5]:
data=data.drop('Unnamed: 0',axis=1)
data.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    5      6        2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    4      6        3   59.8   61.0    326  3.89  3.84  2.31
2   0.23    2      6        5   56.9   65.0    327  4.05  4.07  2.31
3   0.29    4      2        4   62.4   58.0    334  4.20  4.23  2.63
4   0.31    2      1        2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
x=data.drop('price',axis=1)
y=data['price']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=35)

In [8]:
adaboost=AdaBoostRegressor(n_estimators=50,base_estimator=RandomForestRegressor(n_estimators=50),
                          learning_rate=0.3,random_state=45)

In [9]:
adaboost.fit(x_train,y_train)
adaboost.score(x_test,y_test)

0.9814621753049233