In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('insurance_data.csv')

In [3]:
data

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [4]:
from word2number import w2n

In [5]:
#data['num-of-cylinders']=data['num-of-cylinders'].apply(w2n.word_to_num)
#data

In [6]:
#data.isna().sum()

In [7]:
#mean_price=data.price.mean()
#mean_price

In [8]:
#data.price=data.price.fillna(mean_price)
#data

In [9]:
x=data.drop('bought_insurance',axis=1)
y=data['bought_insurance']

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
#x['company']= le.fit_transform(x['company'])
#x['body-style']=le.fit_transform(x['body-style'])
#x['engine-type']= le.fit_transform(x['engine-type'])
x

    age
0    22
1    25
2    47
3    52
4    46
5    56
6    55
7    60
8    62
9    61
10   18
11   28
12   27
13   29
14   49
15   55
16   25
17   58
18   19
19   18
20   21
21   26
22   40
23   45
24   50
25   54
26   23

In [13]:
y

0     0
1     0
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    1
23    1
24    1
25    1
26    0
Name: bought_insurance, dtype: int64

In [14]:
svc_model=SVC()

gscv=GridSearchCV(svc_model,{'gamma' : ['auto','scale'],'C':[1,5,10,20],
                            'kernel':['linear','rbf','poly','sigmoid']},cv=5,return_train_score=True)

In [16]:
gscv.fit(x,y)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20], 'gamma': ['auto', 'scale'],
                         'kernel': ['linear', 'rbf', 'poly', 'sigmoid']},
             return_train_score=True)

In [17]:
model_params={'logistic_regression':{'model':LogisticRegression(),'params':{'C':[1,5,10]}},
              'knn':{'model':KNeighborsClassifier(),'params':{'n_neighbors':[1,5,10]}},
              'svm':{'model':SVC(gamma='auto'),'params':{'C':[1,5,10],'kernel':['rbf','linear']}},
             'random_forest':{'model':RandomForestClassifier(),'params':{'n_estimators':[1,5,10]}}}

In [18]:
scores=[]
models=['logistic_regression','knn','svm','random_forest']
for model_name in models:
    mp=model_params[model_name]
    gds=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=True)
    gds.fit(x,y)
    scores.append({'model':model_name,'best_score':gds.best_score_,'best_params':gds.best_params_})

In [19]:
scores

[{'model': 'logistic_regression',
  'best_score': 0.8533333333333335,
  'best_params': {'C': 1}},
 {'model': 'knn',
  'best_score': 0.8933333333333333,
  'best_params': {'n_neighbors': 5}},
 {'model': 'svm',
  'best_score': 0.8933333333333333,
  'best_params': {'C': 1, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.82,
  'best_params': {'n_estimators': 5}}]

In [20]:
model_params={'decision_tree':{'model':DecisionTreeClassifier(),'params':{'max_depth':[1,5,10]}}}

In [21]:
scores=[]
models=['decision_tree']
for model_name in models:
    mp=model_params[model_name]
    gds=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=True)
    gds.fit(x,y)
    scores.append({'model':model_name,'best_score':gds.best_score_,'best_params':gds.best_params_})

In [22]:
scores

[{'model': 'decision_tree',
  'best_score': 0.8933333333333333,
  'best_params': {'max_depth': 1}}]